# Task... Build one or more EC2 instance(s) in the new VPC and test connections and ports
# TODO Security group for port 8000 to 0.0.0.0/0

- name: build_ec2 - Uses variables from playbook to build EC2 instance(s)
  ec2:
    assign_public_ip: "{{ public_ip_yes_no }}"
    key_name: "{{ ssh_key_name }}"
    image: "{{ image_id }}"
    count: "{{ instance_count }}"
    vpc_subnet_id: "{{ vpc_subnet_id }}"
    instance_type: "{{ instance_type }}"
    wait: yes
    group: "{{ group }}"

    region: us-east-2
    aws_secret_key: "{{ aws_secret_key }}"
    aws_access_key: "{{ aws_access_key }}"
  register: ec2_details

- name: build_ec2 - Set a fact with the returned public DNS of new EC2 host(s)
  set_fact:
    build_ec2_pub_dns: "{{ ec2_details | json_query('instances[*].public_dns_name') }}"

- name: build_ec2 - Test connections on port 22
  wait_for: host= {{ item }} port=22 timeout=10
  loop: "{{ build_ec2_pub_dns }}"

